{% extends "body.html" %}
{% block content %}
<main class="content about">
  {% set include_dict = {'page': page} %}
  {% include "static_header.html" %}
  {% for bulletpoint in page.bulletpoints %}
    <section class="content__row about__section">
      {% set include_dict = {'image': bulletpoint.image, 'alt': bulletpoint.title, 'cssClass': 'about__section-image'} %}
      {% include "picture.html" %}
      <div class="about__section-content-container">
        <h2 class="about__section-title">{{ bulletpoint.title }}</h2>
        <div class="about__section-content">
          {{ bulletpoint.description | markdownify }}
        </div>      
      </div>	    
    </section>
  {% endfor %}
  <div>
  <p> <iframe src="https://services.cognitoforms.com/f/jgCD5cps5EuN7GXA2TLXQA?id=1" style="position:relative;width:1px;min-width:100%;*width:100%;" frameborder="0" scrolling="yes" seamless="seamless" height="1054" width="100%"></iframe><script src="https://services.cognitoforms.com/scripts/embed.js"></script> </p>
  </div>
    
  {% include "promo_section.html" %} 
</main>
{% endblock %}
